<header class="p-3 " style="background-color: #295b40;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between ">


    <div>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-white"  routerLink="/home" routerLinkActive="router-link-active">Dashboard</a></li>
          <li><a class="nav-link px-2 text-white"  routerLink="/profile" routerLinkActive="router-link-active">Profile</a></li>
        </ul>
      </ul>
    </div>


      <div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            @if(authService.isLoggedin())
         {
          <li> <a class="nav-link px-2 text-white" (click)="authService.logout()" >
            Logout
          </a></li>

         }
         @else
         {
          <li>
            <a class="nav-link px-2 text-white" href="/login" routerLinkActive="router-link-active">
              Login
            </a>
          </li>
          <li>
            <a class="nav-link px-2 text-white" href="/register" routerLinkActive="router-link-active">
              Register
            </a>
          </li>  }
  
          </ul>
          
        </ul>
      </div>

     
    </div>
  </div>
</header>